{% extends 'admin/change_list.html' %}

{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:mtr_sync_settings_add' %}?action=export&amp;model={{ opts.app_label }}.{{ opts.model_name }}&amp;filter={{ request.GET.urlencode|urlencode }}">{% trans 'mtr.sync:Export' %}</a>
    </li>
    <li>
        <a href="{% url 'admin:mtr_sync_settings_add' %}?action=import&amp;model={{ opts.app_label }}.{{ opts.model_name }}&amp;filter={{ request.GET.urlencode|urlencode }}">{% trans 'mtr.sync:Import' %}</a>
    </li>
{% endblock %}
