django>=1.6
pytz
git+https://github.com/pashinin/fabric.git@6783d2f7ad7a449c97cd1ee0df9a2dbc29422fce#egg=fabric
ipython
celery
hg+https://bitbucket.org/openpyxl/openpyxl@2.1#egg=openpyxl
xlwt-future
xlrd
git+https://github.com/eea/odfpy#egg=odfpy
six