{% extends 'admin/base_site.html' %}

{% load i18n %}

{% block title %}{% trans 'mtr.sync:Data sync dashboard' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'mtr.sync:Home' %}</a>
&rsaquo; {% trans 'mtr.sync:Data sync' %} &rsaquo; {% trans 'mtr.sync:Dashboard' %}
</div>
{% endblock %}

{% block content %}
<h1>{% trans 'mtr.sync:Data sync dashboard' %}</h1>

<div id="content-main">

<div style="margin: 15px 0 20px 0">
    <a href="{% url 'mtr.sync:export' %}" style="float: none" class="button default">Export data</a>
    <a href="javascript:" style="float: none" class="button default">Import data</a>
</div>

<div class="module" style="width: 600px; margin-right: 20px; float: left;">
<table style="width: 100%">
    <caption>{% trans 'mtr.sync:Last reports' %}</caption>
    <thead>
        <th>Settings</th>
        <th>Acion</th>
        <th>Date</th>
        <th>Result</th>
        <th>Link</th>
    </thead>
    <tbody>
        {% for report in last_reports %}
        <tr>
            <td>{{ report.settings.name }}</td>
            <td>{{ report.get_action_display }}</td>
            <td>{{ report.completed_at }}</td>
            <td>{{ report.get_status_display }}</td>
            <td><a href="{{ report.buffer_file.url }}">{{ report.buffer_file.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="module" style="width: 250px; margin-right: 20px; float: left;">
<table style="width: 100%">
    <caption>{% trans 'mtr.sync:New settings' %}</caption>
    <thead>
        <th>Name</th>
        <th>Action</th>
        <th>Run again</th>
    </thead>
    <tbody>
        {% for settings in new_settings %}
        <tr>
            <td>{{ settings.name }}</th>
            <td>{{ settings.get_action_display }}</td>
            <td>{{ settings.run_link }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div style="clear:both;"></div>

</div>
{% endblock %}