{% extends 'admin/base_site.html' %}

{% load i18n %}

{% block title %}{% trans 'mtr.sync:Data sync dashboard' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'mtr.sync:Home' %}</a>
&rsaquo; {% trans 'mtr.sync:Data sync' %} &rsaquo; {% trans 'mtr.sync:Dashboard' %}
</div>
{% endblock %}

{% block content %}
<h1>{% trans 'mtr.sync:Data sync dashboard' %}</h1>

<div id="content-main">

<div class="module" style="width: 350px; margin-right: 20px; float: left;">
<table style="width: 100%">
    <caption>Last imported</caption>
    <tbody>
        <tr class="model-group">
            <th scope="row">Test</th>
            <td>test</td>
            <td>test</td>
        </tr>
         <tr class="model-group">
            <th scope="row">Test</th>
            <td>tes</td>
            <td>2</td>
        </tr>
         <tr class="model-group">
            <th scope="row">Test</th>
            <td>3</td>
            <td>4</td>
        </tr>
    </tbody>
</table>
</div>

<div class="module" style="width: 350px; margin-right: 20px; float: left;">
<table style="width: 100%">
    <caption>Last exported</caption>
    <tbody>
        <tr class="model-group">
            <th scope="row">Test</th>
            <td>test</td>
            <td>test</td>
        </tr>
         <tr class="model-group">
            <th scope="row">Test</th>
            <td>tes</td>
            <td>2</td>
        </tr>
         <tr class="model-group">
            <th scope="row">Test</th>
            <td>3</td>
            <td>4</td>
        </tr>
    </tbody>
</table>
</div>

<div class="module" style="width: 350px; margin-right: 20px; float: left;">
<table style="width: 100%">
    <caption>Settings</caption>
    <tbody>
        <tr class="model-group">
            <th scope="row">Test</th>
            <td>test</td>
            <td>test</td>
        </tr>
         <tr class="model-group">
            <th scope="row">Test</th>
            <td>tes</td>
            <td>2</td>
        </tr>
         <tr class="model-group">
            <th scope="row">Test</th>
            <td>3</td>
            <td>4</td>
        </tr>
    </tbody>
</table>
</div>

<div style="clear:both;"></div>
<div style="margin-top: 5px;">
<a href="javascript:" style="float: none" class="button default">Import data</a>
<a href="javascript:" style="float: none" class="button default">Export data</a>
<a href="javascript:" style="float: none" class="button default">Create export shedule</a>
</div>
</div>
{% endblock %}