{% load prefixed_i18n %}

{% set_i18n_prefix 'mtr.sync' %}

{# <li> #}
    {# <label for="quick">{% trans 'One click' %} #}
    {# </label> #}
    {# <select name="action"> #}
        {# <option value="action">test 1</option> #}
        {# <option>test 2</option> #}
    {# </select> #}
{# </li> #}
<li>
    <a class="grp-state-focus" href="{% url 'admin:mtr_sync_settings_add' %}?action=export&amp;model={{ opts.app_label }}.{{ opts.model_name }}{% if request.GET.keys %}&amp;filter={{ request.GET.urlencode|urlencode }}%26fields={{ cl.list_display|join:','|urlencode }}{% endif %}">{% trans 'Export' %}</a>
</li>
<li>
    <a class="grp-state-focus" href="{% url 'admin:mtr_sync_settings_add' %}?action=import&amp;model={{ opts.app_label }}.{{ opts.model_name }}{% if request.GET.keys %}&amp;filter={{ request.GET.urlencode|urlencode }}%26fields={{ cl.list_display|join:','|urlencode }}{% endif %}">{% trans 'Import' %}</a>
</li>
